<h2>Testinium is an all-in-one open-source based, enterprise ready platform unifies all the functionality you need to shift testing left - and right.</h2>
<div>
  We empower millions of customers around the world to make their softwares perfect with our smart testing solutions, award-winning support, and inspiring technologies.
  Founded in 2010 and headquartered in Istanbul with additional offices in Amsterdam, London and Berlin.
</div>
<br>
<div>
  Address:  Akasya Acıbadem Ofis Kuleleri A-3 Blok Kat:12 No:21 Acıbadem / İstanbul
</div>

